## xcconfig hide
*.xcconfig

## User settings
xcuserdata/
 
## App packaging
*.ipa
*.dSYM.zip
*.dSYM
 
## Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
 
.DS_Store
.build/
